{:paths ["." "test"]
 :tasks
 {generate {:doc "Generate config/corne.keymap from corne_config.edn + corne_template.keymap"
            :task (let [exit (:exit (clojure.java.shell/sh
                                     "bb" "generator.clj"
                                     "--config" "corne_config.edn"
                                     "--input" "corne_template.keymap"
                                     "--output" "config/corne.keymap"))]
                    (if (zero? exit)
                      (println "Generated config/corne.keymap")
                      (throw (ex-info "Generator failed" {:exit exit}))))}
  verify-corne-equivalence {:doc "Regenerate Corne keymap and diff it against the pre-refactor baseline"
                            :task (let [baseline "examples/corne_generated_baseline.keymap"
                                        generated-file (java.io.File/createTempFile "corne-generated-" ".keymap")
                                        generated (.getPath generated-file)]
                                    (try
                                      (let [{generate-exit :exit generate-err :err}
                                            (clojure.java.shell/sh
                                             "bb" "generator.clj"
                                             "--config" "corne_config.edn"
                                             "--input" "corne_template.keymap"
                                             "--output" generated)]
                                        (when-not (zero? generate-exit)
                                          (print generate-err)
                                          (throw (ex-info "Generator failed" {:exit generate-exit})))
                                        (let [{diff-exit :exit diff-out :out diff-err :err}
                                              (clojure.java.shell/sh "diff" "-u" baseline generated)]
                                          (if (zero? diff-exit)
                                            (println "Generated Corne keymap matches" baseline)
                                            (do
                                              (print diff-out)
                                              (print diff-err)
                                              (throw (ex-info "Generated Corne keymap differs from baseline"
                                                              {:baseline baseline
                                                               :generated generated
                                                               :exit diff-exit}))))))
                                      (finally
                                        (.delete generated-file))))}
  test {:doc "Run Babashka tests"
        :extra-deps {io.github.matthewdowney/rich-comment-tests {:git/url "https://github.com/matthewdowney/rich-comment-tests.git"
                                                                  :git/tag "v1.0.3"
                                                                  :git/sha "a8711e9"}}
        :requires ([generator-test :as generator-test]
                   [bindings-test :as bindings-test]
                   [com.mjdowney.rich-comment-tests.test-runner :as rct])
        :task (do
                (bindings-test/run)
                (generator-test/run)
                (let [file-pred (fn [^java.io.File f]
                                  (let [path (.getPath f)]
                                    (and (or (.endsWith path ".clj")
                                             (.endsWith path ".cljc"))
                                         (not (.contains path "/."))
                                         (not (.contains path "\\.")))))
                      result (rct/run-tests-in-file-tree! :dirs #{"."} :file-pred file-pred)
                      {:keys [fail error]} result]
                  (println result)
                  (when (and (number? fail) (number? error) (pos? (+ fail error)))
                    (throw (ex-info "Rich comment tests failed" result)))
                  result))}}}
