{:regions
 [[:combos
   {:nodes
    [{:name "horizontal_ltr",
      :type :combo-layer,
      :pattern [[0 0] [0 1]],
      :layers [:BASE],
      :bindings
      [[:DE_X :DE_W :none :none :none :none :none :none :none :none]
       [:DE_Q :TAB :none :DE_G :none :none :none :none :none :none]
       [:none :DE_Y :DE_K :none :none :none :none :none :none :none :none :none]
       [:none :none :none :none :none :none]]}
     {:name "horizontal_rtl",
      :type :combo-layer,
      :pattern [[0 0] [0 -1]],
      :layers [:BASE],
      :bindings
      [[:none :none :none :DE_M :DE_Z :none :none :none :none :none]
       [:none :none :none :DE_V :none :none :none :none :none :none]
       [:none :none :none :none :DE_J :DE_B :none :none :none :none :none :none]
       [:none :none :none :none :none :none]]}
     {:name "vertical",
      :type :combo-layer,
      :pattern [[0 0] [1 0]],
      :layers [:BASE],
      :bindings
      [[[:backspace_delete]
        [:round_brackets]
        [:esc_layerreset]
        [:sk :LEFT_ALT]
        [:sk :LEFT_GUI]
        :none
        :none
        :none
        :none
        :none]
       [:none :none :none :none :none :none :none :none :none :none]
       [:none :none :none :none :none :none :none :none :none :none :none :none]
       [:none :none :none :none :none :none]]}
     {:name "diagonal_down_right",
      :type :combo-layer,
      :pattern [[0 0] [1 1]],
      :layers [:BASE],
      :bindings
      [[:none :none [:punkt_doppelpunkt] :none :none :none :none :none :none :none]
       [:ENTER [:square_brackets] :none [:caps_word] [:sk :LCTRL] :none :none :none :none :none]
       [:none :none :none :none :none :none :none :none :none :none :none :none]
       [:none :none :none :none :none :none]]}
     {:name "diagonal_down_right_reverse",
      :type :combo-layer,
      :pattern [[0 0] [-1 -1]],
      :layers [:BASE],
      :bindings
      [[:none :none :none :none :none :none :none :none :none :none]
       [:none :none :none :none [:curly_brackets] :none :none :none :none :none]
       [:none :none :none :SPACE :none :none :none :none :none :none :none :none]
       [:none :none :none :none :none :none]]}
     {:name "angled_brackets", :layers [:BASE], :body ["bindings = <&angled_brackets>;" "key-positions = <25 13>;"]}
     {:name "komma_strichpunkt",
      :layers [:BASE],
      :body ["bindings = <&komma_strickpunkt>;" "key-positions = <24 12>;"]}
     {:name "toBT", :layers [:BASE], :body ["bindings = <&to 4>;" "key-positions = <1 2 3 4>;"]}
     {:name "ae",
      :layers [:BASE],
      :body ["bindings = <&M_UPPER_AEOEUE DE_A_UMLAUT>;" "key-positions = <33 21 32>;"]}]}]
  [:macros
   {:nodes
    [{:name "esc_layerreset", :label "esc_layerreset", :type :macro, :bindings [:ESCAPE [:to 0]]}
     {:name "daechli", :label "daechli", :type :macro, :bindings [:DE_CARET :SPACE]}
     {:name "tilde", :label "tilde", :type :macro, :bindings [[:kp "LA(DE_N)"] :SPACE]}
     {:name "M_UPPER_AEOEUE",
      :label "AE",
      :type :macro-one-param,
      :wait-ms 80,
      :tap-ms 80,
      :bindings [:CAPSLOCK [:pause] [:param-1to1 [:kp :_placeholder]] :CAPSLOCK]}
     {:name "M_UE", :label "UE", :type :macro, :wait-ms 20, :tap-ms 20, :bindings [:CAPSLOCK :DE_U_UMLAUT :CAPSLOCK]}
     {:name "M_OE",
      :label "M_OE",
      :type :macro,
      :wait-ms 100,
      :tap-ms 100,
      :bindings [:CAPSLOCK :DE_O_UMLAUT :CAPSLOCK]}
     {:name "backtick_macro", :label "backtick_macro", :type :macro, :bindings [:DE_GRAVE :SPACE]}
     {:name "fronttick_macro", :label "fronttick_macro", :type :macro, :bindings [[:kp "RA(EQUAL)"] :SPACE]}
     {:name "ue1", :label "ue1", :type :macro, :bindings [:DE_U_UMLAUT :DE_N1]}
     {:name "ue2", :label "ue2", :type :macro, :bindings [:DE_U_UMLAUT :DE_N2]}
     {:name "ue3", :label "ue3", :type :macro, :bindings [:DE_U_UMLAUT :DE_N3]}
     {:name "ue4", :label "ue4", :type :macro, :bindings [:DE_U_UMLAUT :DE_N4]}
     {:name "ue5", :label "ue5", :type :macro, :bindings [:DE_U_UMLAUT :DE_N5]}
     {:name "ue6", :label "ue6", :type :macro, :bindings [:DE_U_UMLAUT :DE_N6]}
     {:name "ue7", :label "ue7", :type :macro, :bindings [:DE_U_UMLAUT :DE_N7]}
     {:name "ue8", :label "ue8", :type :macro, :bindings [:DE_U_UMLAUT :DE_N8]}
     {:name "ue9", :label "ue9", :type :macro, :bindings [:DE_U_UMLAUT :DE_N9]}
     {:name "ue0", :label "ue0", :type :macro, :bindings [:DE_U_UMLAUT :DE_N0]}
     {:name "tmux_next_window", :label "tmux_next", :type :macro, :bindings [:DE_U_UMLAUT :DE_N]}
     {:name "tmux_prev_window", :label "tmux_prev", :type :macro, :bindings [:DE_U_UMLAUT :DE_P]}]}]
  [:behaviors
   {:nodes
    [{:name "square_brackets", :type :mod-morph, :bindings ["&kp LA(DE_N5)" "&kp LA(DE_N6)"], :mods "(MOD_LSFT)"}
     {:name "round_brackets", :type :mod-morph, :bindings ["&kp LS(DE_N8)" "&kp LS(DE_N9)"], :mods "(MOD_LSFT)"}
     {:name "angled_brackets", :type :mod-morph, :bindings [:DE_LESS_THAN :DE_GREATER_THAN], :mods "(MOD_LSFT)"}
     {:name "curly_brackets", :type :mod-morph, :bindings ["&kp LA(DE_N8)" "&kp LA(DE_N9)"], :mods "(MOD_LSFT)"}
     {:name "backspace_delete", :type :mod-morph, :bindings [:BACKSPACE :DELETE], :mods "(MOD_LSFT)"}
     {:name "double_single_quote", :type :mod-morph, :bindings [:DE_DOUBLE_QUOTES :MINUS], :mods "(MOD_LSFT)"}
     {:name "back_front_tick", :type :mod-morph, :bindings [[:backtick_macro] [:fronttick_macro]], :mods "(MOD_LSFT)"}
     {:name "punkt_doppelpunkt", :type :mod-morph, :bindings [:DE_DOT :DE_COLON], :mods "(MOD_LSFT)"}
     {:name "komma_strickpunkt", :type :mod-morph, :bindings [:DE_COMMA :DE_SEMICOLON], :mods "(MOD_LSFT)"}
     {:name "frage_ausrufe_zeichen", :type :mod-morph, :bindings [:DE_QUESTION :DE_EXCLAMATION], :mods "(MOD_LSFT)"}
     {:name "daechli_tilde", :type :mod-morph, :bindings [[:daechli] [:tilde]], :mods "(MOD_LSFT)"}
     {:name "prozent_ringli", :type :mod-morph, :bindings [:DE_PERCENT "&kp LS(NON_US_BSLH)"], :mods "(MOD_LSFT)"}
     {:name "hash_pipe", :type :mod-morph, :bindings [:DE_HASH :DE_PIPE], :mods "(MOD_LSFT)"}
     {:name "at_equal", :type :mod-morph, :bindings ["&kp LA(DE_G)" :DE_EQUAL], :mods "(MOD_LSFT)"}
     {:name "dollar_ampersand", :type :mod-morph, :bindings [:DE_DOLLAR :DE_AMPERSAND], :mods "(MOD_LSFT)"}
     {:name "slash_backslash", :type :mod-morph, :bindings [:DE_SLASH "&kp LS(LA(DE_N7))"], :mods "(MOD_LSFT)"}
     {:name "mal_plus", :type :mod-morph, :bindings [:DE_ASTERISK :DE_PLUS], :mods "(MOD_LSFT)"}
     {:name "minus_underscore", :type :mod-morph, :bindings [:DE_MINUS :DE_UNDER], :mods "(MOD_LSFT)"}
     {:name "B_AE", :type :mod-morph, :bindings [:DE_A_UMLAUT [:M_UPPER_AEOEUE :DE_A_UMLAUT]], :mods "(MOD_LSFT)"}
     {:name "B_UE", :type :mod-morph, :bindings [:DE_U_UMLAUT [:M_UE]], :mods "(MOD_LSFT)"}
     {:name "B_OE", :type :mod-morph, :bindings [:DE_O_UMLAUT [:M_OE]], :mods "(MOD_LSFT)"}
     {:name "hCh", :type :mod-morph, :bindings [:DE_H "&kp LC(DE_H)"], :mods "(MOD_LSFT)"}
     {:name "jCj", :type :mod-morph, :bindings [:DE_J "&kp LC(DE_J)"], :mods "(MOD_LSFT)"}
     {:name "kCk", :type :mod-morph, :bindings [:DE_K "&kp LC(DE_K)"], :mods "(MOD_LSFT)"}
     {:name "lCl", :type :mod-morph, :bindings [:DE_L "&kp LC(DE_L)"], :mods "(MOD_LSFT)"}
     {:name "n0ue0", :type :mod-morph, :bindings [:DE_N0 [:ue0]], :mods "(MOD_LSFT)"}
     {:name "n1ue1", :type :mod-morph, :bindings [:DE_N1 [:ue1]], :mods "(MOD_LSFT)"}
     {:name "n2ue2", :type :mod-morph, :bindings [:DE_N2 [:ue2]], :mods "(MOD_LSFT)"}
     {:name "n3ue3", :type :mod-morph, :bindings [:DE_N3 [:ue3]], :mods "(MOD_LSFT)"}
     {:name "n4ue4", :type :mod-morph, :bindings [:DE_N4 [:ue4]], :mods "(MOD_LSFT)"}
     {:name "n5ue5", :type :mod-morph, :bindings [:DE_N5 [:ue5]], :mods "(MOD_LSFT)"}
     {:name "n6ue6", :type :mod-morph, :bindings [:DE_N6 [:ue6]], :mods "(MOD_LSFT)"}
     {:name "n7ue7", :type :mod-morph, :bindings [:DE_N7 [:ue7]], :mods "(MOD_LSFT)"}
     {:name "n8ue8", :type :mod-morph, :bindings [:DE_N8 [:ue8]], :mods "(MOD_LSFT)"}
     {:name "n9ue9", :type :mod-morph, :bindings [:DE_N9 [:ue9]], :mods "(MOD_LSFT)"}
     {:name "tmux_next_pre", :type :mod-morph, :bindings [[:tmux_next_window] [:tmux_prev_window]], :mods "(MOD_LSFT)"}
     {:name "mac_next_prev_app", :type :mod-morph, :bindings ["&kp LG(TAB)" "&kp LG(LS(TAB))"], :mods "(MOD_LSFT)"}
     {:name "mac_prev_next_window", :type :mod-morph, :bindings ["&kp LC(F9)" "&kp LS(LC(F9))"], :mods "(MOD_LSFT)"}
     {:name "swapper", :type :smart-toggle, :bindings [:LGUI :TAB], :ignored-key-positions "33"}]}]
  [:keymap
   {:nodes
    [{:name "BASE",
      :left [[:P :O :I :U :T] [[:lt 3 :DE_S] :A :E :N :R] [:DE_G :D :L :C :F :H] [[:sl 1] [:sk :LEFT_SHIFT] [:sl 2]]],
      :right-override
      [[[:bt :BT_SEL 0] [:bt :BT_SEL 1] [:out :OUT_TOG] [:bootloader] [:bt :BT_CLR_ALL]]
       [:H :D :DE_F :DE_H [:mt :RGUI :O]]
       [:K :M :COMMA :DOT :FSLH :FSLH]
       [:C :A :B]]}
     {:name "Nav1",
      :left
      [[[:B_UE] :END :PG_UP :PG_DN :HOME]
       [[:B_OE] :RIGHT_ARROW :UP :DOWN :LEFT_ARROW]
       [:trans :DE_A_UMLAUT :N9 :double_single_quote :back_front_tick :hash_pipe]
       [:trans :trans :trans]],
      :right-override
      [[:N1 :trans :trans :trans :trans]
       [:trans :trans :trans :trans :trans]
       [:N3 :trans :trans :trans :trans :trans]
       [:trans :trans :trans]]}
     {:name "Nav2",
      :left
      [[[:frage_ausrufe_zeichen] [:mac_prev_next_window] [:swapper] [:tmux_next_pre] [:kp "LC(DE_U_UMLAUT)"]]
       [[:at_equal] [:lCl] [:kCk] [:jCj] [:hCh]]
       [:trans [:slash_backslash] [:dollar_ampersand] :trans [:prozent_ringli] [:daechli_tilde]]
       [:trans :trans :trans]],
      :right-override
      [[:trans :trans :trans :trans :trans]
       [:trans :trans :trans :trans :trans]
       [:trans :trans :trans :trans :trans :trans]
       [:trans :trans :trans]]}
     {:name "Num",
      :left
      [[:trans [:n3ue3] [:n2ue2] [:n1ue1] [:minus_underscore]]
       [:trans [:n6ue6] [:n5ue5] [:n4ue4] [:n0ue0]]
       [:trans :trans [:n9ue9] [:n8ue8] [:n7ue7] [:mal_plus]]
       [:trans :trans :trans]],
      :right-override
      [[:trans :trans :trans :trans :trans]
       [:trans :trans :trans :trans :trans]
       [:trans :trans :trans :trans :trans :trans]
       [:trans :trans :trans]]}
     {:name "BT",
      :left
      [[[:bt :BT_CLR_ALL] [:bt :BT_SEL 2] [:bt :BT_SEL 1] [:bt :BT_SEL 0] [:bt :BT_CLR]]
       [:trans :trans :trans [:out :OUT_BLE] :trans]
       [:trans [:esc_layerreset] :trans :trans [:out :OUT_USB] [:bootloader]]
       [:trans :trans :trans]],
      :right-override
      [[:trans :trans :trans :trans :trans]
       [:trans :trans :trans :trans :trans]
       [:trans :trans :trans :trans :trans :trans]
       [:trans :trans :trans]]}]}]],
 :keyboard {:row-widths [10 10 12 6]}}
